%nav
  %ul
    %li= link_to image_tag('buttons/ships.png'), templates_ships_path
    %li= link_to image_tag('buttons/locations.png'), templates_locations_path
#ships
  #map
    #canvas
  %form{action: '#'}
    %input{type: 'search', name: 'name', placeholder: 'nom'}
    .fields
      %label Operator
      %select{name: 'operator', 'data-placeholder' => 'Operator'}
        %option
        %option{value: '1'} Cunard Line
        %option{value: '2'} Costa Croisière
    .fields
      %label Class
      %select{name: 'class', 'data-placeholder' => 'Class'}
        %option
        %option{value: '1'} Paquebot
        %option{value: '2'} Plaisance
  %ul.ships
    %li
      %h2 Queen Mary 2
      .operator Cunard Line
    %li
      %h2 Queen Mary 2
      .operator Cunard Line
    %li
      %h2 Queen Mary 2
      .operator Cunard Line
    %li
      %h2 Queen Mary 2
      .operator Cunard Line
    %li
      %h2 Queen Mary 2
      .operator Cunard Line

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_qTivtaJ223K9YrvDiUBvXL08nlrKQCo&sensor=true&callback=mapsCallback"></script>
  :javascript
    mapsCallback = function() {
      var point1 = new google.maps.LatLng(-70.495574, 9.492188)
      var map = new google.maps.Map($('#map #canvas')[0], {
        zoom: 4,
        center: point1,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      })
      new google.maps.Marker({map: map, position: point1})
    }
    $('select[name="operator"]').chosen()
    $('select[name="class"]').chosen()
